.hero {
    background: url(../../assets/img/backhero.png) center/cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding: 20px;
}

.hero h2 {
    font-size: 2rem;
    background: linear-gradient(45deg, #BF953F, #FCF6BA, #AA771C);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero h3 {
    font-size: 1.2rem;
    margin: 15px 0;
}

.hero button {
    width: 200px;
    padding: 10px;
    font-size: 1rem;
    background: linear-gradient(45deg, #d4af37, #f7e7a1);
    border: none;
    border-radius: 10px;
}

/* desktop */
@media (min-width: 768px) {
    .hero {
        padding-left: 50px;
    }

    .hero h2 {
        font-size: 3rem;
    }

    .hero h3 {
        font-size: 1.6rem;
    }
}